ion-icon {
    width: 2rem;
    height: 2rem;
}

ion-label {
    font-weight: 700;
}

ion-tab-button {
    --color: #000;
    --color-selected: #ff6429;
}

ion-badge {
    font-size: 12px;
    padding: 2%;
}

ion-tab-bar, ion-tab-button{
    --background: var(--ion-color-warning);
}