<ion-tabs>
  
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="products">
      <ion-icon name="phone-portrait-outline"></ion-icon>
      <ion-label>Products</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favourite">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Favourite</ion-label>
      <ion-badge color="dark">{{ productService.getLocalFavouriteProducts().length }}</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="cart">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Cart</ion-label>
      <ion-badge color="dark">{{ productService.getLocalCartProducts().length }}</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>


</ion-tabs>
