.product {
  border: 2px solid var(--ion-color-warning);
  background-color: white;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: black;
}

img {
  margin: 10px auto;
  width: auto;
  height: auto;
}

h6 {
  font-weight: 600;
}

ion-button {
  --background: var(--ion-color-warning-button);
  --background-hover: var(--ion-color-warning-button);
  color: black;
  font-weight: 500;
  width: 100%;
}

ion-icon {
  color: var(--ion-color-warning);
  height: 2rem;
  width: 2rem;
}

ion-searchbar {
  border-radius: 10px;
}

.cart {
  margin-top: 5rem;
}

.cart-paragraph {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

@media only screen and (min-width: 429px) and (max-width: 575px) {
  .img {
    text-align: center;
  }
}