<form #userForm="ngForm" (ngSubmit)="addUser(userForm)">
  <div class="modal-content">
    <div class="modal-body">
      <div class="form-group form-sm">
        <label for="emailId">Your email</label>
        <input
          mdbActive
          type="email"
          id="emailId"
          class="form-control"
          name="emailId"
          [(ngModel)]="createUser.emailId"
          placeholder="Enter email"
          mdbInputValidate
          [email]="true"
          autocomplete="email"
        />
      </div>
      <div class="form-group form-sm">
        <label for="password">password</label>
        <input
          mdbActive
          type="password"
          id="password"
          class="form-control"
          name="password"
          [(ngModel)]="createUser.password"
          placeholder="Password"
          mdbInputValidate
          autocomplete="new-password"
        />
      </div>
      <div class="text-center mt-2">
        <button
          class="btn btn-light"
          id="signUpButton"
          mdbRippleRadius
        >
          Sign up
        </button>
      </div>
    </div>
  </div>
</form>