<ion-app>
  <ion-split-pane contentId="menu-content">
    <ion-menu side="end" contentId="menu-content" class="app-sidemenu" swipeGesture="false" color="warning">
      <ion-content>
        <ion-list>
          <ion-list-header>
            <h1>Shopping Web App</h1>
          </ion-list-header>
          <ion-list-header>
            <ion-label *ngIf="this.authService.user$ | async as user">{{ user.emailId }}</ion-label>
          </ion-list-header>
          <ion-menu-toggle autoHide="false">
            <ion-item button *ngIf="!isAuthenticated" [routerLink]="['/auth']" lines="none">
              <ion-icon name="key" slot="start"></ion-icon>
              <ion-label>Sign In</ion-label>
            </ion-item>
            <ion-item button *ngIf="isAuthenticated" [routerLink]="['/admin']" lines="none">
              <ion-icon name="build" slot="start"></ion-icon>
              <ion-label>Admin</ion-label>
            </ion-item>
            <ion-item button *ngIf="isAuthenticated" (click)="onLogout()" lines="none">
              <ion-icon name="log-out" slot="start"></ion-icon>
              <ion-label>Log Out</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="menu-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>