ion-toolbar {
    --background: var(--ion-color-warning);
    --color: var(--ion-color-warning-contrast);
}

ion-content {
    --background: var(--ion-color-warning-my);

    ion-button {
        position: absolute;
        top: 150%;
    }
}