ion-toolbar {
    --background: var(--ion-color-warning);
    --color: var(--ion-color-warning-contrast);
}

ion-content {
    --background: rgba(var(--ion-color-warning-tint-rgb), 0.5);

    ion-button {
        position: absolute;
        top: 150%;
    }
}